{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Welcome to Abu's Driving School Hertfordshire. We provide expert driving lessons in Hatfield, St Albans, and Welwyn Garden City.">
        <meta name="keywords" content="Abu's Driving School Hertfordshire, Abu's Driving School, driving school, driving lessons, safe driving, St Albans, Hertfordshire">
        <meta name="author" content="Abu's Driving School Hertfordshire">
        <meta name="robots" content="index, follow">
        <link rel="stylesheet" type="text/css" href="{% static 'css/signup.css' %}">
        <title>Sign Up</title>

        <!-- Links to display favicon and website description for the webiste in search results -->
        <link rel="icon" type="image/png" href="{% static 'favicon-192x192.png' %}" sizes="192x192">
        <link rel="apple-touch-icon" href="{% static 'favicon-180x180.png' %}">
        <link rel="icon" type="image/x-icon" href="{% static 'favicon-32x32.ico' %}">
    </head>
    <body>
        <div class="container">
            <a href="{% url 'main' %}" class="back-link">Back to Home</a>
            <h1>Sign Up</h1>
            <!-- Display error messages only if the form submission has errors -->
            {% if form.errors %}
                <div class="error">
                    {% for field in form %}
                        {% for error in field.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    {% endfor %}
                </div>
            {% endif %}
            
            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <input type="text" name="username" placeholder="Username" value="{{ form.username.value }}" required>
                </div>
                <div class="form-group">
                    <input type="email" name="email" placeholder="Email" value="{{ form.email.value }}" required>
                </div>
                <div class="form-group">
                    <input type="password" name="password" placeholder="Password" required>
                </div>
                <button type="submit">Sign Up</button>
            </form>
            <a href="{% url 'login' %}" class="login-link">Already have an account? Login here</a>
        </div>
    </body>
</html>
