/* General Styling */
body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 20px;
    color: #333;
}

.container {
    position: relative;
    max-width: 500px;
    margin: 40px auto;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}

.container:hover {
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
}

h2 {
    text-align: center;
    color: #919090;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: 600;
    margin-bottom: 5px;
    color: #333;
}

input[type="number"],
textarea {
    width: 95%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1rem;
    color: #555;
    transition: border-color 0.3s;
}

input[type="number"]:focus,
textarea:focus {
    border-color: #fa7416;
    outline: none;
}

textarea {
    resize: vertical;
    min-height: 120px;
}

button {
    padding: 12px;
    background-color: #fa7416;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #e69500;
}

/* Error messages styling */
.error {
    color: red;
    font-size: 0.9em;
    margin-top: 5px;
}

/* Styling for the star rating system */
.rating {
    direction: rtl;
    display: block;
    text-align: center;
    margin: 0 auto;
}

.rating input {
    display: none;
}

.rating label {
    color: #ccc;
    font-size: 2rem;
    cursor: pointer;
}

.rating input:checked ~ label,
.rating input:hover ~ label {
    color: #FFD700;
}

.rating label:hover,
.rating input:focus ~ label {
    color: #FFD700;
}

.rating input:checked ~ label:hover {
    color: #FFD700;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    font-weight: 600;
    margin-bottom: 5px;
}

/* Back to Reviews link styling */
.back-link {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #fa7416;
    text-decoration: none;
    font-weight: bold;
}

.back-link:hover {
    text-decoration: underline;
}

h1 {
    text-align: center; /* Center-align header */
    color: black;
    font-family: 'Courier New', Courier, monospace;
}